<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/global.scss">
  <link rel="stylesheet" href="/css/navbar.scss">
  <link rel="stylesheet" href="/css/sidebar.scss">
  <link rel="stylesheet" href="/css/Loginpage.css">
  {% block head %}{% endblock %}
</head>

<body>

  <!-- insert login page -->
  <!--login box html code-->
  <div class="login-container hidden">
    <div class="exit" id="login-exit">x</div>
    <div class="form-box">
      <div class="form-value">
        <form action="">
          <div class="exit" id="login-exit">x</div>
          <h2>Login</h2>
          <div class="inputbox">
            <ion-icon name="mail-unread-outline"></ion-icon>
            <input type="email">
            <label for="">Email</label>
          </div>
          <div class="inputbox">
            <ion-icon name="lock-closed-outline"></ion-icon>
            <input type="password">
            <label for="">password</label>
          </div>
          <div class="forget">
            <label for=""><input type="checkbox">Remember Me </label>
            <a href="#">Forgot password</a>
          </div>
          <button id="login-button">Log in</button>
          <div class="register">
            Don't have a account? <span id="switch-sign">Register</span>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="signup-container hidden">
    <div class="exit" id="signup-exit">x</div>
    <!--Id changed to signup-exit for sign and login-exit for login-->
    <div class="form-box">
      <div class="form-value">
        <form action="">
          <div class="exit" id="signup-exit">x</div>
          <h2>Sign Up</h2>
          <div class="inputbox">
            <ion-icon name="mail-unread-outline"></ion-icon>
            <input type="email">
            <label for="">Email</label>
          </div>
          <div class="inputbox">
            <ion-icon name="lock-closed-outline"></ion-icon>
            <input type="password">
            <label for="">password</label>
          </div>
          <div class="forget">
            <label for=""><input type="checkbox">Remember Me</label>
            <!--Removing Forget password box for obvious reasons-->
          </div>
          <button id="signup-button">Sign Up</button>
          <div class="register">
            Already have an account? <span id="switch-login">Login</span>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div id="content">
    {% block body %}{% endblock %}
  </div>

  <script type="module" src="/src/main.js"></script>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>